/* untuk style custom */

/* styling untuk keseluruhan body pada page */
body {
    overflow-x: hidden;
    background-color: #FFFFFF;
    font-family: 'Nunito' !important;
    font-style: normal;
}

/* styling untuk box signup */
.box-signup {
    border-radius: 60px;
    background-color: #F2F6FF;
    color: #234CAD;
    padding: 75px;
}

/* styling untuk judul pada box signup */
.title-signup {
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 25px;
}

/* styling untuk subjudul pada box signup */
.subtitle-signup {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #234CAD;
}

/* styling pada box input email */
.input-signup {
    margin-top: 35px;
    align-items: center;
}

/* styling pada form input */
.input-form {
    border-radius: 17.5px;
    background-color: #FFFFFF;
    padding: 10px 6px 15px 20px;
    width: 500px;
    height: 65px;
}



/* styling pada input email */
.input-form input {
    padding-top: 6px;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #234CAD;
    mix-blend-mode: normal;
    opacity: 0.5;
    border: none;
    width: 420px;
}

/* styling button input email */
.input-form button {
    background-color: #234CAD;
    width: 45px;
    height: 45px;
    padding: 5px 12px 5px 12px;
    color: white;
    border-radius: 12.5px;
}

/* styling footer */
.footer-links {
    padding: 0px 200px 0px 200px;
    color: #234CAD;
}

/* styling judul pada footer */
.title-footer {
    margin-top: 75px;
    font-weight: 700;
    font-size: 30px;
    line-height: 49px;
    margin-bottom: 20px;
}

/* styling pada konten footer */
.content-footer ul,
li,
a {
    list-style: none;
    padding: 0px;
    text-decoration: none;
    color: #234CAD;
}

/* setting agar page responsif */
@media only screen and (max-width: 900px) {

    /* mengatur margin top pada judul footer */
    .title-footer {
        margin-top: 20px;
        text-align: center;
    }

    /* mengatur aligning pada konten footer agar berada di tengah pada saat lebar browser dikecilkan seukuran browser mobile */
    .content-footer,
    ul,
    li,
    a {
        text-align: center;
    }

    /* mengatur padding pada footer */
    .footer-links {
        padding: 120px;
        color: #234CAD;
    }

    /* mengatur lebar form input ketika tampilan mobile agar tidak over */
    .input-form input {
        width: 80%;
    }
}

/* Section2 */
#main-content {
    width: 100%;
    min-height: 200px;
}

#product-features1 .row {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

#product-features1 .box {
    width: 575px;
    height: 575px;
    padding: 20px;
    margin: 100px 0 0 100px;
    background-color: #F2F6FF;
    border-radius: 60px;
}

.box-2 {
    height: 575px;
    border-radius: 60px;
    background-color: #F2F6FF;
    color: #234CAD;
    padding: 75px;
    margin-bottom: 50px;
}

#product-features1 .card {
    margin: 100px 50px 0 50px;
    padding: 15px;
    background-color: #FFFFFF;
    border-radius: 25px;
}

#product-features1 .card-body {
    background-color: #FFFFFF;
    border-radius: 5px;
    margin: 10px;
    align-self: flex-end;

}

#text {
    text-align: left;
    padding-left: 18px;
    color: #234CAD;
}

.button-section2 {
    border: 2px solid #234CAD;
    background: #FFFFFF;
    border-radius: 32.5px;
    padding: 10px;
}

/* .container {
    display: flex;
    flex-wrap: wrap;
    background: #F2F6FF;
} */

.box {
    min-height: 150px;
    width: 100%;
}