/* untuk style custom */

/* styling untuk keseluruhan body pada page */
body {
    padding-top: 75px;
    background-color: #FFFFFF;
    font-family: 'Nunito';
    font-style: normal;
}

/* setting agar page responsif */
@media only screen and (max-width: 900px) {

    /* mengatur margin top pada judul footer */
    .title-footer {
        margin-top: 20px;
        text-align: center;
    }

    /* mengatur aligning pada konten footer agar berada di tengah pada saat lebar browser dikecilkan seukuran browser mobile */
    .content-footer,
    ul,
    li,
    a {
        text-align: center;
    }

    /* mengatur padding pada footer */
    .footer-links {
        padding: 120px;
        color: #234CAD;
    }

    /* mengatur lebar form input ketika tampilan mobile agar tidak over */
    .input-form input {
        width: 80%;
    }
}




/* GHEINA */

h1 {
    color : #234CAD;
}
p {
    color : #234CAD;
}
#about .row {
    display: flex;
    text-align: center;
}

#about .box {
    width: 580px;
    height: 575px;
    padding: 10px;
    margin: 100px 0 0 100px;
    background-color: #F2F6FF;
    border-radius: 60px;
    
}

#about .card {
    height: 145px;
    width: 270px;
    top: 100px;
    border-radius: 25px;
}

.button-about {
    border: 2px solid #234CAD;
    background: #FFFFFF;
    border-radius: 32.5px;
    padding: 10px;
    color : #234CAD;
}
#title {

    height: 21px;
    left: 0%;
    right: 11.02%;
    top: calc(50% - 21px/2 - 12px);

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color : #234CAD;
   
}

#information {
    height: 21px;
    left: 0%;
    right: 0%;
    top: calc(50% - 21px/2 + 12px);

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color : #234CAD;
 
}

#pricing .row:after {
    content: "";
    display: table;
    clear: both;
}

#pricing .column {
    float: center;
  width: 33.33%;
  padding: 10px;
  height: 300px;
}

#pricing .card {
    height: 200px;
    width: 200px;
    left: 0px;
    top: 0px;
    border-radius: 25px;

}